.brands{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 0 20px;
    box-sizing: border-box;
}
.brands img{
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width:768px) {
    .brands{
        flex-wrap: wrap !important;
        margin-left: 5%;
        gap: 0 !important;
        margin-top: 10%;
        align-items: center !important;
        justify-content: center !important;
    }
    .expert_h1{
        font-size: 30px !important;
        text-align: center;
    }
}